<div id="leftSide">
  <fieldset>
    <legend>Gallery</legend>
    <%= form_for([@holder, :aadgadmin, @gallery]) do |f| %>
    
    <% if @gallery.errors.any? %>
    	<div id="error_explanation">
    		<h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this dimension from being saved:</h2>
    		
    		<ul>
    		<% @gallery.errors.full_messages.each do |msg| %>
    			<li><%= msg %></li>
    		<% end %>
    		</ul>
    	</div>
    <% end %>
      <%= f.label :name %>
      <div class="div_texbox"><%= f.text_field :name, :class => 'textbox' %></div>

      <%= f.label :description %>
      <div class="div_textarea"><%= f.text_area :description, :rows => 7, :class => 'textbox' %></div>

      <div class="button_div"><%= f.submit 'Save', :class => 'buttons' %></div>
    <% end %>
  </fieldset>
</div>
<div id="rightSide">Write relevant information about the Gallery form here.</div>
<div style="clear:both;"></div>
<div class="links">
  <%= link_to 'Back', aadgadmin_galleries_path %>
</div>