<div id="gallery">
  <h1>Dimensions</h1>
  <div id="dimensions">
    <%= render :partial => 'aadgadmin/dimensions/list' %>
  </div>

  <h1><%= @gallery.name %></h1>

  <% if @gallery_dimension %>
    <% @gallery.images.each do |image| %>
      <%= link_to image.tag(@gallery_dimension.name), aadgadmin_gallery_image_path(@gallery, image), :class => 'image' %>
    <% end %>
  <% end %>
  <div style="clear:both;"></div>
  <div class="description">
    <%= @gallery.description %><hr />
    <%= link_to 'Edit Gallery', edit_aadgadmin_gallery_path(@gallery) %> |
    <%= link_to 'New Image', new_aadgadmin_gallery_image_path(@gallery) %>
  </div>
  <div class="links">
    <%= link_to 'Back', aadgadmin_galleries_path %>
  </div>
</div>
