<% if @gallery %>
  <h2>Add existing:</h2>
  <% form_for([@holder, @gallery, @dimension]) do %>
    <%= collection_select(:dimension, :id, @dimensions, :id, :name) %>
    <%= submit_tag 'Select' %>
  <% end %>
  <br />
  <h2>Add new:</h2>
<% end %>

<% form_for([@holder, @gallery, @dimension]) do |f| %>
<p>
	<%= f.error_messages %>
</p>
<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :width %>
	<%= f.text_field :width %>
</p>
<p>
	<%= f.label :height %>
	<%= f.text_field :height %>
</p>
<p>
	<%= f.label 'Aspect ratio' %>
	<%= f.text_field :aspect %>
</p>
<p>
	<%= f.label :resize? %>
	<%= f.check_box :resize %>
</p>
<p>
	<%= f.label :crop? %>
	<%= f.check_box :crop %>
</p>
<p>
	<%= f.submit 'Save' %>
</p>
<% end %>