<% form_for([@holder, @gallery, @dimension]) do |f| %>
<p>
  <%= f.error_messages %>
</p>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p id="height_input">
  <%= f.label :height %>
  <%= f.text_field :height %>
</p>
<p id="width_input">
  <%= f.label :width %>
  <%= f.text_field :width %>
</p>
<p id="aspect_input">
  <%= f.label 'Aspect ratio' %>
  <%= f.text_field :aspect %>
</p>
<p id="resize_input">
  <%= f.label :resize? %>
  <%= f.check_box :resize %>
</p>
<p id="crop_input">
  <%= f.label :crop? %>
  <%= f.check_box :crop %>
</p>
<p>
  <%= f.submit 'Save' %>
</p>
<% end %>
<script type="text/javascript">
  function updateDimensionForm(width, height, aspect, resize, crop, widthBlock,
                               heightBlock, aspectBlock, resizeBlock, cropBlock){
    if(height.value != '' || width.value != ''){
      if(height.value != '' && width.value != ''){
        disableElement(aspectBlock, aspect);
        enableElement(cropBlock, crop);
        enableElement(resizeBlock, resize);
      }else{
        if(aspect.value != ''){
          if(height.value != ''){
            disableElement(widthBlock, width);
          }else{
            disableElement(heightBlock, height);
          }
          enableElement(resizeBlock, resize);
        }else{
          if(crop.valueOf().checked == true){
            disableElement(resizeBlock, resize);
          }else if(resize.valueOf().checked == true){
            disableElement(cropBlock, crop);
          }else{
            enableElement(resizeBlock, resize);
            enableElement(cropBlock, crop);
          }
          enableElement(widthBlock, width);
          enableElement(heightBlock, height);
        }
        enableElement(aspectBlock, aspect);
      }
    }else{
      if(aspect.value != ''){
        disableElement(resizeBlock, resize);
      }else{
        enableElement(resizeBlock, resize);
      }
      enableElement(widthBlock, width);
      enableElement(heightBlock, height);
      enableElement(cropBlock, crop);
    }
  }

  function disableElement(block, input){
    block.style.background = "#AAAAAA";
    input.style.background = "#AAAAAA";
    input.valueOf().checked = false;
    input.disabled = true;
  }

  function enableElement(block, input){
    block.style.background = "";
    input.style.background = "";
    input.disabled = false;
  }

  function startInterval(){
    var width = document.getElementById("dimension_width");
    var height = document.getElementById("dimension_height");
    var aspect = document.getElementById("dimension_aspect");
    var resize = document.getElementById("dimension_resize");
    var crop = document.getElementById("dimension_crop");

    var widthBlock = document.getElementById("width_input");
    var heightBlock = document.getElementById("height_input");
    var aspectBlock = document.getElementById("aspect_input");
    var resizeBlock = document.getElementById("resize_input");
    var cropBlock = document.getElementById("crop_input");

    window.setInterval( function() { updateDimensionForm(width, height, aspect,
      resize, crop, widthBlock, heightBlock, aspectBlock, resizeBlock, cropBlock); }, 100);
  }

  window.onload = startInterval;
</script>