<div id="leftSide">
  <fieldset>
    <legend>Dimension</legend>
    <%= form_for([@holder, :aadgadmin, @gallery, @dimension]) do |f| %>
    
    <% if @dimension.errors.any? %>
    	<div id="error_explanation">
    		<h2><%= pluralize(@dimension.errors.count, "error") %> prohibited this dimension from being saved:</h2>
    		
    		<ul>
    		<% @dimension.errors.full_messages.each do |msg| %>
    			<li><%= msg %></li>
    		<% end %>
    		</ul>
    	</div>
    <% end %>
    
    <%= f.label :name, 'Dimension Name' %>
    <div class="div_texbox"><%= f.text_field :name, :class => 'textbox' %></div>

    <div id="width_block">
    <%= f.label :width, 'Width (px)' %>
    <div class="div_texbox"><%= f.text_field :width, :class => 'textbox' %></div>
    </div>

    <div id="height_block">
    <%= f.label :height, 'Height (px)' %>
    <div class="div_texbox"><%= f.text_field :height, :class => 'textbox' %></div>
    </div>

    <div id="aspect_block">
    <%= f.label :aspect, 'Aspect ratio' %>
    <div class="div_texbox"><%= f.text_field :aspect, :class => 'textbox' %></div>
    </div>

    <div id="resize_block">
    <%= f.label :resize, 'Resize Image' %>
    <div class="div_texbox"><%= f.check_box :resize %></div>
    </div>

    <div id="crop_block">
    <%= f.label :crop, 'Crop Image' %>
    <div class="div_texbox"><%= f.check_box :crop %></div>
    </div>
    
    <div class="button_div"><%= f.submit 'Save', :class => 'buttons' %></div>
    <% end %>
  </fieldset>
</div>
<div id="rightSide">
    The Dimension form will automatically disable fields that are calculable from the given information or that create an ambiguous Dimension.<br /><br />
    This is normal behavior and does not indicate a problem.
</div>
<div style="clear:both;"></div>
<div class="links">
  <% if @gallery %>
    <%= link_to 'Back', aadgadmin_gallery_path(@gallery) %>
  <% else %>
    <%= link_to 'Back', aadgadmin_dimensions_path %>
  <% end %>
</div>

<script type="text/javascript">
// <!--
  function updateDimensionForm(width, height, aspect, resize, crop, widthBlock,
                               heightBlock, aspectBlock, resizeBlock, cropBlock){
    if((!height.disabled && height.value != '') || (!width.disabled && width.value != '')){
      if((!height.disabled && height.value != '') && (!width.disabled && width.value != '')){
        disableElement(aspectBlock, aspect);
        enableElement(cropBlock, crop);
        enableElement(resizeBlock, resize);
        aspect.value = width.value / height.value;
      }else{
        if(!aspect.disabled && aspect.value != ''){
          if(!height.disabled && height.value != ''){
            disableElement(widthBlock, width);
            width.value = Math.round(aspect.value * height.value);
          }else{
            disableElement(heightBlock, height);
            height.value = Math.round(width.value / aspect.value);
          }
          enableElement(resizeBlock, resize);
        }else{
          if(!crop.disabled && crop.valueOf().checked == true){
            disableElement(resizeBlock, resize);
          }else if(!resize.disabled && resize.valueOf().checked == true){
            disableElement(cropBlock, crop);
          }else{
            enableElement(resizeBlock, resize);
            enableElement(cropBlock, crop);
          }
          enableElement(widthBlock, width);
          enableElement(heightBlock, height);
        }
        enableElement(aspectBlock, aspect);
      }
    }else{
      if(!aspect.disabled && aspect.value != ''){
        disableElement(resizeBlock, resize);
      }else{
        enableElement(resizeBlock, resize);
      }
      enableElement(widthBlock, width);
      enableElement(heightBlock, height);
      enableElement(cropBlock, crop);
    }
  }

  function disableElement(block, input){
    block.style.background = "#E6E6E6";
    input.style.background = "#E6E6E6";
    input.valueOf().checked = false;
    input.disabled = true;
  }

  function enableElement(block, input){
    if(input.disabled){
      block.style.background = "";
      input.style.background = "";
      input.disabled = false;
      input.value = '';
    }
  }

  function startInterval(){
    var width = document.getElementById("dimension_width");
    var height = document.getElementById("dimension_height");
    var aspect = document.getElementById("dimension_aspect");
    var resize = document.getElementById("dimension_resize");
    var crop = document.getElementById("dimension_crop");

    var widthBlock = document.getElementById("width_block");
    var heightBlock = document.getElementById("height_block");
    var aspectBlock = document.getElementById("aspect_block");
    var resizeBlock = document.getElementById("resize_block");
    var cropBlock = document.getElementById("crop_block");

    window.setInterval( function() { updateDimensionForm(width, height, aspect,
      resize, crop, widthBlock, heightBlock, aspectBlock, resizeBlock, cropBlock); }, 100);
  }

  window.onload = startInterval;
// -->
</script>