<div class="dimension">
    Name: <%= @dimension.name %><br />
    Height: <%= @dimension.height %><br />
    Width: <%= @dimension.width %><br />
    Aspect: <%= @dimension.aspect  %><br />
    Crop: <%= @dimension.crop %><br />
    Resize: <%= @dimension.resize %><br />
    Used By:
      <% @dimension.galleries.each do |gallery| %>
        <%= link_to gallery.name, aadgadmin_gallery_path(gallery) %>
      <% end %>
    <br />
    <%= link_to 'View Galleries', aadgadmin_dimension_galleries_path(@dimension) %><br />

    <%= link_to 'Edit', edit_aadgadmin_dimension_path(@dimension) %> |
    <%= link_to 'Delete', aadgadmin_dimension_path(@dimension), :method => :delete, :confirm => 'Are you sure?' %>
  </div>