<div id="top">
  <h1>Please enter the desired values</h1>
</div>
<div id="leftSide">
  <fieldset>
    <legend>Image</legend>
    <% form_for([:aadgadmin, @gallery, @image], :html => { :multipart => true } ) do |f| %>
    <p>
      <%= f.error_messages %>
    </p>

    <%= f.label :name, 'Name' %>
    <div class="div_texbox"><%= f.text_field :name, :class => 'textbox' %></div>

    <%= f.label :image_file, 'File' %>
    <div class="div_texbox"><%= file_field_tag 'image[file]' %></div>
    <div class="button_div"><%= f.submit 'Save', :class => 'buttons' %></div>

    <% end %>
  </fieldset>
</div>
<div id="rightSide">
  <%= link_to 'Back', gallery_path(@gallery) %>
</div>