<div id="top">
  <h1>Please enter the desired values</h1>
</div>
<div id="leftSide">
  <fieldset>
    <legend>Image</legend>
    <%= form_for([:aadgadmin, @gallery, @image], :html => { :multipart => true } ) do |f| %>
    
    <% if @image.errors.any? %>
    	<div id="error_explanation">
    		<h2><%= pluralize(@image.errors.count, "error") %> prohibited this dimension from being saved:</h2>
    		
    		<ul>
    		<% @image.errors.full_messages.each do |msg| %>
    			<li><%= msg %></li>
    		<% end %>
    		</ul>
    	</div>
    <% end %>

    <%= f.label :name, 'Name' %>
    <div class="div_texbox"><%= f.text_field :name, :class => 'textbox' %></div>

    <%= f.label :image_file, 'File' %>
    <div class="div_texbox"><%= file_field_tag 'image[file]' %></div>

    <%= f.label :description, 'Description' %>
    <div class="div_textarea"><%= f.text_area :description, :rows => 7, :class => 'textbox' %></div>

    <div class="button_div"><%= f.submit 'Save', :class => 'buttons' %></div>

    <% end %>
  </fieldset>
</div>
<div id="rightSide">
  Write relevant information about the new image form here.
</div>
<div style="clear:both;"></div>
<div class="links"><%= link_to 'Back', aadgadmin_gallery_path(@gallery) %></div>