<h1><%= @image.name %></h1>

<% if @dimension %>
  <%= @dimension.name %>:<br />
  <div class="image">
    <%= link_to @image.tag(@dimension.name), @image.src, { :class => 'image', :target => '_blank' }  %>
  </div>
<% else %>
  <% @gallery.dimensions.each do |dim| %>
    <%= link_to @image.tag(dim.name).html_safe, aadgadmin_gallery_image_path(@gallery, @image), :class => 'image' %>
  <% end %>
<% end %>
<div style="clear:both;"></div>
<div class="description">
  <%= @image.description %><hr />
  <%= link_to 'View ' + Image.unaltered_file.capitalize, @image.src, { :target => '_blank' } %>
  <% if !@dimension %>
    | <%= link_to 'Delete', aadgadmin_gallery_image_path(@gallery, @image), :method => :delete, :confirm => 'Are you sure?' %> |
    <span id="set_gallery_image">
      <%= link_to 'Set as gallery image', { :controller => 'aadgadmin/images', :action => 'set_gallery_image', :gallery_id => @gallery.id, :id => @image.id }, :remote => true %><br />
    </span>
   <% end %>
</div>
<div class="links">
  <% if @dimension %>
    <%= link_to 'Back', aadgadmin_gallery_image_path(@gallery, @image) %>
  <% else %>
    <%= link_to 'Back', aadgadmin_gallery_path(@gallery) %>
  <% end %>
</div>